html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: flex-end;
  justify-content: stretch;
  height: 100%;
  font-family: 'Helvetica Neue', helvetica, sans-serif;
  color: white;
  font-weight: 300;
}

form {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  transition: opacity 0.3s ease;
}

.picking form {
  opacity: 0.2;
  pointer-events: none;
}

form:hover {
  opacity: 1;
}

form span {
  font-size: 13px;
  align-self: center;
  margin: 0 0.5em;
}

.btn {
  margin-left: 1em;
  opacity: 1;
  align-self: center;
  transition: opacity 0.3s ease;
}

.picking .btn {
  opacity: 0;
}

.r {
  margin-right: auto;
}

input {
  font-size: 24px;
  font-family: Menlo, "DejaVu Sans Mono", Consolas, monospace;
  border: none;
  color: white;
  background-color: transparent;
  width: 5em;
  padding: 0.5em;
  text-align: center;
}

button {
  background-color: transparent;
  border: none;
  font-family: 'Helvetica Neue', helvetica, sans-serif;
  color: white;
  font-weight: 300;
  font-size: 13px;
  opacity: 1;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.picking button {
  opacity: 0;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

button:active {
  background-color: rgba(0, 0, 0, 0.8);
}

.xhair {
  position: absolute;
  opacity: 0.6;
  top: 0;
  left: 0;
  margin-left: -20px;
  margin-top: -20px;
  width: 41px;
  height: 41px;
  pointer-events: none;
}

.xhair span {
  position: absolute;
  background-color: black;
}

.xhair.light span {
  background-color: white;
}

.xhair span:nth-child(1) {
  width: 1px;
  height: 10px;
  top: 0;
  left: 20px;
}

.xhair span:nth-child(2) {
  width: 10px;
  height: 1px;
  top: 20px;
  right: 0;
}

.xhair span:nth-child(3) {
  width: 1px;
  height: 10px;
  bottom: 0;
  left: 20px;
}

.xhair span:nth-child(4) {
  width: 10px;
  height: 1px;
  top: 20px;
  left: 0;
}

.picking .xhair {
  display: none;
}
